<div class="navbar">
    <div>
        <h1>Student Information Management</h1>
    </div>
    <div>
        <span routerLink="/">Home</span>
        <span routerLink="/addstudent">Add Student</span>
        <span routerLink="/login">Login</span>
    </div>
</div>
<router-outlet></router-outlet>