.navbar{
    background-color: gray;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar div span{
    padding: 10px;
}

.navbar div span:hover{
    cursor: pointer;
    color: white;
}

.navbar div h1:hover{
    cursor: pointer;
}