.home-body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-body tr td {
    border: solid 1px;
    padding: 5px;
}

.home-body table{
    border:solid 1px;
}

.operations{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1px;
}

.operations span{
    border: solid 1px;
    padding: 1px;
}

#edit{
    background-color: blue;
}

#delete{
    background-color: red;
}

#view{
    background-color: aqua;
}