<div>
    
    <div class="home-body">
        <h1>Students</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Program</th>
                <th>Phone</th>
                <th>Operations</th>
            </tr>
            <tr *ngFor="let student of data" [attr.data-id]="student['_id']">
                <td>{{student['_id']}}</td>
                <td>{{student['name']}}</td>
                <td>{{student['email']}}</td>
                <td>{{student['program']}}</td>
                <td>{{student['phone']}}</td>
                <td class="operations">
                    <button id="edit" (click)="handleEditClick(student['_id'])">Edit</button>
                    <button id="delete" (click)="handleDeleteClick(student['_id'])">Delete</button>
                    <button id="view" (click)="handleViewClick(student['_id'])">View</button>
                </td>  
            </tr>
        </table>
    </div>
</div>