<div class="body">
    <h1>Welcome</h1>
    <div class="formcontainer">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form">
            <label>
                id:
                <input type="text" formControlName="id">
            </label>
            <label>
                Password:
                <input type="password" formControlName="password">
            </label>
            <br>
            <button type="submit">Submit</button>
        </form>
          
    </div>
</div>