.body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
