<div class="body">
    <h1>Add Student</h1>
    <div class="formcontainer">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form">
            <label>
                Name:
                <input type="text" formControlName="name">
            </label>
            <label>
                Email:
                <input type="email" formControlName="email">
            </label>
            <label>
                Password:
                <input type="password" formControlName="password">
            </label>
            <label>
                Program:
                <input type="text" formControlName="program">
            </label>
            <label>
                Phone:
                <input type="tel" formControlName="phone">
            </label>
            <br>
            <button type="submit">Submit</button>
        </form>
          
    </div>
</div>
