<div class="body">
    <h1>{{student.name}}</h1>
    <span>Id: {{student._id}}</span>
    <span>Email: {{student.email}}</span>
    <span>Program: {{student.program}}</span>
    <span>Phone: {{student.phone}}</span>
</div>
